<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="LOGFILE" value="C:\\Users\\paulr\\source\\repos\\Christopher\\Christopher\\bin\\Debug\\Debug.log"/>
		<add key="APIPUBLICKEY" value="e4/syk+jFAazO+fAUGiWk+8XkaCSdxkZbiILdXBOgOURu+PaaI53O10g"/>
		<add key="APIPRIVATEKEY" value="aJ9I5TvnclnXNQUzFZkb6VwkaewnoEgF5FbzTJHRhk5+ySefb2Xwgvez1t9mUnSIBAuChHpB6ntWt05uW3eLuA=="/>
	</appSettings>
</configuration>